/* Changes the theme of the application */

:root {

    --color-primary: linear-gradient(#00d2ff, #3a7bd5);
    --color-secondary: #ff4081;

    --color-white: #fff;
    --color-white-87: rgba(255, 255, 255, 0.87);
    --color-white-64: rgba(255, 255, 255, 0.64);

    --color-grey-900: #212121;
    --color-grey-800: #424242;
    --color-grey-600: #757575;
    --color-grey-200: #eee;
    
    --color-blue-grey-56: rgba(236, 239, 241, 0.56);

}

html[data-theme="default"] {

    --body-bg: #eceff1;

    --color-bg: var(--color-white);
    --color-card: var(--color-blue-grey-56);
    --color-heading-card: var(--color-grey-900);
    --color-heading: var(--color-grey-900);
    --color-heading-app-bar: rgba(33, 33, 33, 0.87);
    --color-heading-sub: var(--color-grey-800);
    --color-text: var(--color-grey-600);
    --color-track: var(--color-grey-200);

}

html[data-theme="dark"] {

    --color-primary: var(--color-grey-900);
    --color-secondary: #f06292;

    --body-bg: #383838;
    
    --color-bg: #303030;
    --color-card: rgba(66, 66, 66, 0.72);
    --color-heading-card: var(--color-white-87);
    --color-heading: var(--color-white);
    --color-heading-app-bar: var(--color-white-87);
    --color-heading-sub: var(--color-white-64);
    --color-text: var(--color-white-87);
    --color-track: var(--color-secondary);
}
