.header {
  width: 100%;
  max-width: 1200px;
  height: 56px;
  background-color: transparent;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
  font-size: var(--fs-lg);
  letter-spacing: 1px;
  color: var(--clr-primary);
  opacity: 0.8;
  text-decoration: none;
  padding: 2px;
  outline: none;
}

.logo:hover,
[data-theme='light'] .logo:hover {
  color: var(--clr-accent);
  opacity: 1;
}

[data-theme='light'] .logo {
  color: var(--clr-secondary);
}
