@use '../utilities' as utils;

.main {
    padding: 0 20px 12px;
    // padding: calc(48px + 56px) 20px 12px;
    max-width: 1120px;

    @media only screen and (min-width: 992px) {
        padding: 0 20px 12px;
        // padding: calc(48px + 56px) 20px 12px;
    }
}

.container {
    padding: 12px 20px 72px;
    // padding: 12px 20px 20px;
    max-width: 1120px;
}

.card {
    border-radius: 16px;
    background-color: var(--color-card);
    width: 100%;
    min-height: 150px;
    transition: box-shadow 250ms ease;
    
    &-link {
        padding: 24px;
        height: 100%;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 12px 24px var(--color-card-hover);
    }

    &-article-1 {
        min-height: 250px;
    }

    &-article-2,
    &-article-3 {
        min-height: 200px;
    }

    &__img {
        width: 150px;
        height: auto;
        max-width: max-content;
        // max-height: 100px;
        border-radius: 16px;

        @media only screen and (max-width: 479px) {
            display: none;

            &-container {
                display: none;
            }
        }
    }

    &__img-container {
        width: 150px;
        height: 100px;
        border-radius: 16px;
        overflow: hidden;
    }

    &__heading {
        font-weight: 400;
        color: var(--color-headings);
        margin-bottom: 4px;
    }

    &__summary {
        font-size: 1rem;
        margin-top: 16px;
        line-height: 1.5;
    }

    &__description-source-container {
        padding: 4px 12px;
        border-radius: 16px;
        background-color: var(--color-card-desc);
        margin-bottom: 8px;
    }

    &__description {
        // width: calc(100% - 24px - 150px - 24px - 24px);

        @media only screen and (min-width: 480px) {
            width: calc(100% - 24px - 150px - 24px - 24px);
        }

        &-source {
            color: rgb(var(--color-primary));
            font-size: 14px;
            line-height: 1.5;
        }
    }

    &__date {
        color: var(--color-body-text);
    }
}