.title {
  font-size: var(--fs-main-title);
  font-weight: 700;
  text-align: center;
  max-width: 800px;
  color: var(--home-fclr);
}

.title-highlight {
  color: var(--clr-accent);
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: var(--fs-xxl);
  }
}
