.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found h1 {
  font-size: var(--fs-xxxl);
  color: var(--clr-accent);
}

.not-found p {
  font-size: var(--fs-xl);
  text-align: center;
  margin-top: 16px;
  color: var(--fclr-primary);
}

.not-found button {
  margin-top: 40px;
}
