:root {
  --clr-primary: #fff;
  --clr-secondary: rgba(0, 0, 0, 0.88);
  --clr-accent: #ff4081;
  --clr-lightgray: rgba(0, 0, 0, 0.04);
  --clr-almost-white: #f2f2f2;

  --fclr-primary: var(--clr-secondary);
  --fclr-secondary: rgba(0, 0, 0, 0.72);
  --fclr-tertiary: rgba(0, 0, 0, 0.64);

  --input-bgclr: var(--clr-lightgray);
  --input-bgclr-dark-mode: rgba(255, 255, 255, 0.08);
  --input-fclr: rgba(0, 0, 0, 0.8);
  --input-fclr-dark-mode: rgba(255, 255, 255, 0.64);

  --border-clr: rgba(0, 0, 0, 0.16);
  --border-clr-focus: rgba(0, 0, 0, 0.16);
  --border-clr-focus-dark-mode: rgba(255, 255, 255, 0.12);

  --body-bgclr: #18010d;

  --btn-clr: var(--fclr-secondary);
  --btn-bgclr: transparent;
  --btn-clr-disabled: rgba(0, 0, 0, 0.32);
  --btn-bgclr-disabled: rgba(0, 0, 0, 0.08);
  --btn-bgclr-filter: rgba(255, 64, 129, 0.06);

  --hover-bgclr: var(--clr-almost-white);

  --home-fclr: rgba(255, 255, 255, 0.8);

  --card-bgclr: var(--clr-lightgray);

  --ff-sans: 'Inter Tight', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  --fs-sm: calc(16 / 16 * 1rem);
  --fs-md: calc(18 / 16 * 1rem);
  --fs-lg: calc(20 / 16 * 1rem);
  --fs-xl: calc(24 / 16 * 1rem);
  --fs-xxl: calc(64 / 16 * 1rem);
  --fs-xxxl: calc(128 / 16 * 1rem);
  --fs-main-title: calc(40 / 16 * 1rem);
}
