.icon-search {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.search {
  width: 100%;
  max-width: 500px;
  border: 1px solid transparent;
  padding: 16px 24px;
  border-radius: 12px;
  position: relative;
  background-color: var(--input-bgclr-dark-mode);
}

.search:focus-within {
  border-color: var(--border-clr-focus-dark-mode);
}

[data-theme='light'] .search {
  border: 1px solid transparent;
  background-color: var(--input-bgclr);
}

[data-theme='light'] .search:focus-within {
  border-color: var(--border-clr-focus);
}

.search-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: none;
  border-radius: 12px;
  width: 100%;
  padding-left: calc(48px + 24px);
  z-index: 1;
  background-color: transparent;
  font-size: var(--fs-sm);
  outline: none;
  color: var(--input-fclr-dark-mode);
}

[data-theme='light'] .search-input {
  color: var(--input-fclr);
}

.search-input::placeholder {
  color: var(--clr-primary);
  opacity: 0.24;
}

[data-theme='light'] .search-input::placeholder {
  color: var(--clr-secondary);
  opacity: 0.48;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
