.icon-down-arrow {
  width: 18px;
  height: 18px;
}

.filters-list-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

.filters-list-section label {
  margin-bottom: 12px;
  color: var(--fclr-secondary);
}

.filters-list-section span {
  color: var(--fclr-secondary);
}

.filters-list-section .box {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--border-clr);
  font-size: var(--fs-sm);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  max-height: 44.67px;
}

.filters-list-section-list {
  border-radius: 8px;
  border: 1px solid var(--border-clr);
  margin-top: 12px;
  overflow: auto;
  max-height: 250px;
  padding: 8px 0;
  position: absolute;
  width: 100%;
  background-color: var(--clr-primary);
}

.filters-list-section-list-container {
  position: relative;
}
