@use '../themes';

:root {
    --color-primary: 255, 64, 129; //#ff4081
    --color-almost-black: #212121;
    --color-slate: #455a64;
    --color-steel-slate: #607d8b;
    --color-black: #000;
    --color-charcoal: #363636;
    --color-snow-white: #fff;
    --color-gray-1: #ebebeb;
    --color-gray-2: rgba(33, 33, 33, 0.48);
    --color-gray-3: rgba(96, 125, 139, 0.12);
    --color-gray-4: rgba(96, 125, 139, 0.04);
    
    --color-bg: #f9f9f9;
    --color-logo: var(--color-almost-black);
    --color-body-text: rgba(69, 90, 100, 0.40);
    --color-headings: var(--color-slate);
    --color-links: var(--color-slate);
    --color-links-hover: var(--color-almost-black);
    --color-backdrop: rgba(0, 0, 0, 0.56);
    --color-footer: var(--color-gray-4);
    --color-hr: var(--color-gray-3);
    --color-icon: var(--color-slate);
    --color-btn-text: var(--color-snow-white);
    --color-btn-hover: rgba(255, 64, 129, 0.48);
    --color-btn-disabled: #d9d9d9;
    --color-btn-disabled-text: #9b9b9b;
    --color-card: var(--color-snow-white);
    --color-card-hover: rgba(33, 33, 33, 0.08);
    --color-card-desc: rgba(var(--color-primary), 0.08);
    --color-search-subheading: var(--color-snow-white);
    --color-search-input: var(--color-snow-white);
    --color-search-input-text: var(--color-slate);
    --color-search-input-shadow: rgba(33, 33, 33, 0.04);
    --color-header: rgba(249, 249, 249, 0.64);
    --color-input-placeholder: var(--color-body-text);
}

// $color-primary: #ff4081;
// $color-almost-black: #212121;
// $color-slate: #455a64;
// $color-steel-slate: #607d8b;
// $color-black: #000;
// $color-charcoal: #363636;
// $color-snow-white: #fff;
// $color-gray-1: #ebebeb;
// $color-gray-2: rgba($color-almost-black, 0.48);
// $color-gray-3: rgba($color-steel-slate, 0.12);
// $color-gray-4: rgba($color-steel-slate, 0.04);

// $color-bg: #f9f9f9;
// $color-body-text: $color-steel-slate;
// $color-headings: $color-slate;
// $color-links: $color-slate;