@use '../utilities' as utils;

.header {
    width: 100%;
    height: 56px;
    padding: 12px 24px;
    // background-color: rgba(utils.$color-bg, 0.72);
    background-color: var(--color-header);
    backdrop-filter: saturate(172%) blur(20px);
    position: fixed;
    z-index: 1;

    // at 1120 show links on header

    .logo {
        margin-right: auto;
        visibility: visible;
    }

    .nav {
        opacity: 1;
        visibility: visible;

        @media only screen and (max-width: 1119px) {
            display: none;
        }
    }

    .icon-btn {
        @media only screen and (max-width: 1119px) {
            // display: none;
        }
    }

    .search,
    .theme {
        opacity: 1;
        visibility: visible;
    }

    .menu {
        @media only screen and (min-width: 1120px) {
            display: none;
        }
    }

    // @media only screen and (max-width: 719px) {
    //     padding: 12px 24px;
    // }

    .links {
        list-style-type: none;

        &__item-link {
            color: var(--color-links);

            &:hover {
                color: var(--color-links-hover);
            }
        }
    }


    .hidden {
        visibility: hidden;
        opacity: 0;
    }
}
