.links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.icon {
    display: flex;
}

.sidenav-header {
    display: flex;
    justify-content: space-between;
}

.card {
    &-link {
        display: flex;
        gap: 24px;
    }

    &__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description-source-container {
        display: inline-flex;
    }
}

.footer {
    &-nav-list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media only screen and (min-width: 720px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &-legal {
        display: flex;
        gap: 16px;
    }
}

.no-results {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more {
    display: flex;
    justify-content: center;
}