.list,
.container {
    display: grid;
    gap: 24px;
    margin: 0 auto;
}

.list {

    @media only screen and (min-width: 1120px) {
        grid-template-areas: 
        "article1 article1"
        "article2 article3";
        grid-template-columns: repeat(2, 1fr);
        // margin: 0 auto;
    }
}

.category {
    .list {
        @media only screen and (min-width: 1120px) {
            grid-template-areas: 
            "article1 article2"
            "article3 article3";
        }
    }
}

.category-main {

    .page-heading {
        @media only screen and (min-width: 720px) {
            grid-area: title;
        }
    }
}

.card {
    &-article-1 {
        @media only screen and (min-width: 1120px) {
            grid-area: article1;
        }
    }
    &-article-2 {
        @media only screen and (min-width: 1120px) {
            grid-area: article2;
        }
    }
    &-article-3 {
        @media only screen and (min-width: 1120px) {
            grid-area: article3;
        }
    }
}

.footer {
    &-bottom {
        display: grid;
        grid-template-areas: 
        "social"
        "copyright"
        "legal"
        ;
        gap: 8px;

        @media only screen and (min-width: 992px) {
            grid-template-areas: "copyright social legal";
            align-items: center;
        }
    }

    &-copyright {
        grid-area: copyright;
        text-align: center;

        @media only screen and (min-width: 992px) {
            text-align: initial;
        }
    }

    &-legal {
        grid-area: legal;
        justify-content: center;

        @media only screen and (min-width: 992px) {
            justify-content: flex-end;
        }
    }
}